<div class="git-wiki-page-list">
**Getting Started?**

**Try the [Recommended Routine](https://www.reddit.com/r/bodyweightfitness/wiki/kb/recommended_routine) (RR)**

**Read our official [FAQ](http://www.reddit.com/r/bodyweightfitness/wiki/faq) before posting!**

**See the [BWF Wiki](https://www.reddit.com/r/bodyweightfitness/wiki/) for more programs**

***

Bodyweightfitness is for redditors who like to use their own body to train, from the simple pullups, pushups, and squats to the advanced bodyweight movements like the planche, one arm chin-ups, or single leg squats.

We do not frown on weights or barbells as another tool for training.
***

####Bodyweight Training Info
* **[Bodyweight Fitness FAQ](http://www.reddit.com/r/bodyweightfitness/wiki/faq)**
* [Training Guide](https://www.reddit.com/r/bodyweightfitness/wiki/training_guide)
* [Exercise Progressions](http://www.reddit.com/r/bodyweightfitness/wiki/playground)
* [Theory Discussions](http://www.reddit.com/r/bodyweightfitness/wiki/weekly/conceptwednesday)
* [Technique & Form](http://www.reddit.com/r/bodyweightfitness/wiki/weekly/techniquethursday)
* [Past AMAs](http://www.reddit.com/r/bodyweightfitness/wiki/past_amas)


####Social Media

* [Discord Chat Room](https://discordapp.com/invite/bwf)
* [Facebook](https://www.facebook.com/redditbwf)
* [Instagram](https://www.instagram.com/redditbwf)
* [Twitter](https://www.twitter.com/redditbwf)
</div>
