<p>**Getting Started?**

**Try the [Recommended Routine](https://www.reddit.com/r/bodyweightfitness/wiki/kb/recommended_routine) (RR)**

**Read our official [FAQ](http://www.reddit.com/r/bodyweightfitness/wiki/faq) before posting!**

**See the [BWF Wiki](https://www.reddit.com/r/bodyweightfitness/wiki/) for more programs**

***

### Welcome to Bodyweight Fitness! Read the [Frequently Asked Questions](http://www.reddit.com/r/bodyweightfitness/wiki/faq) page!

####Posting Rules
1. Use the search, and read [**the FAQ**](http://www.reddit.com/r/bodyweightfitness/wiki/faq) and [the /r/fitness FAQ](http://www.reddit.com/r/fitness/wiki/faq) before posting
2. No medical, injury, or pain related posts (try /r/AskDocs or see a professional)
3. Provoke discussion (see the full [guidelines](http://www.reddit.com/r/bodyweightfitness/wiki/rules#wiki_3._posts_must_be_discussion_and.2For_topic_oriented.) for details)
4. Don't be a fucknugget
5. No advertising / Self-promotion
6. Moderators have the final word  

Click [here](http://www.reddit.com/r/bodyweightfitness/wiki/rules) to read the full ruleset.

***

Bodyweightfitness is for redditors who like to use their own body to train, from the simple pullups, pushups, and squats to the advanced bodyweight movements like the planche, one arm chin-ups, or single leg squats.

We do not frown on weights or barbells as another tool for training.
***

####Bodyweight Training Info
* **[Bodyweight Fitness FAQ](http://www.reddit.com/r/bodyweightfitness/wiki/faq)**
* [Training Guide](https://www.reddit.com/r/bodyweightfitness/wiki/training_guide)
* [Exercise Progressions](http://www.reddit.com/r/bodyweightfitness/wiki/playground)
* [Theory Discussions](http://www.reddit.com/r/bodyweightfitness/wiki/weekly/conceptwednesday)
* [Technique & Form](http://www.reddit.com/r/bodyweightfitness/wiki/weekly/techniquethursday)
* [Past AMAs](http://www.reddit.com/r/bodyweightfitness/wiki/past_amas)


####Bodyweight Fitness Tools
* [Find a BWF park near you](https://redd.it/3lu96n)
* [Find a workout partner](http://www.reddit.com/r/bodyweightfitness/wiki/form_a_group)
* [Build your own equipment](https://www.reddit.com/r/bodyweightfitness/wiki/diy)


####Social Media

* [Discord Chat Room](https://discordapp.com/invite/bwf)
* [Facebook](https://www.facebook.com/redditbwf)
* [Instagram](https://www.instagram.com/redditbwf)
* [Twitter](https://www.twitter.com/redditbwf)


####Recommended Subreddits
* /r/flexibility
* /r/gainit
* /r/loseit
* /r/overcominggravity
* /r/eood

[](//discord.gg/cNX6Hjf)

[^(RES night mode compatible)](#/RES_SR_Config/NightModeCompatible)

</p>
